@font-face {
    font-family: "IRANSans";
    src: url(../font/IRANSansWeb.eot);
    src: url(../font/IRANSansWeb.eot?#iefix) format('embedded-opentype'),
    url(../font/IRANSansWeb.woff2) format('woff2'),
    url(../font/IRANSansWeb.woff) format('woff'),
    url(../font/IRANSansWeb.ttf)  format('truetype');
    font-weight: normal;
    font-style: normal
  }
  
  @font-face {
    font-family: "IRANSans";
    src: url(../font/IRANSansWeb_Bold.eot);
    src: url(../font/IRANSansWeb_Bold.eot?#iefix) format('embedded-opentype'),
    url(../font/IRANSansWeb_Bold.woff2) format('woff2'),
    url(../font/IRANSansWeb_Bold.woff) format('woff'),
    url(../font/IRANSansWeb_Bold.ttf)  format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  #app {
    font-family: "IRANSans";
  }
  